.banner{
    background-image: url(../img/img1.jpg);
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 25%;
}
.menu{
    background-color: coral;
}
.pie{background-color:coral ;
    background-position: top,center;
    color: black;

}
